<nav>
    <div class="nav-wrapper blue">
        <a href="#" class="brand-logo center"><i class="fa-solid fa-code"></i> pifkeys Developer Dashboard</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>
</nav>