<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>body, button { font-family: "Roboto", sans-serif; }</style>
  <title>Developer Group Application</title>
</head>
<body onload="M.AutoInit();">
  <div class="container center-align" style="margin-top: 100px;">
    <div class="card hoverable">
      <div class="card-content">
        <h4><i class="fa-solid fa-code" style="margin-bottom: 20px; color: cornflowerblue;"></i><br>Interested in joining the development group of @pifkeys?</h4>
        <p style="font-weight: bold;">First, you must pass these requirements:</p>
        <ul>
          <li>A GitHub account</li>
          <li>This account must be at least 1 month old</li>
          <li>Also, you must have at least 3 repos</li>
          <li>Your repos need to have commits newer than 1 day old</li>
        </ul>
        <p>If you meet these prerequisites, this website should give you a Telegram invite link, which is single-use only.</p>
        <p>That means you cannot share it. If you share this link with others, it will not work and the link itself will be disabled.</p>
        <p>You will also need to login with your Telegram account so we can associate the group invite with your Telegram account.</p>
        <button class="btn waves-effect waves-light blue" style="margin-top: 17px;" onclick="location.href = '/login/github'"><i class="fa-solid fa-file"></i> Start application</button>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>