<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Developer Group Dashboard</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>body, button { font-family: "Roboto", sans-serif; }</style>
</head>
<body>
  <nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo center">pifkeys Developer Dashboard</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="container center-align" style="margin-top: 50px;">
    <div class="card hoverable">
      <div class="card-content">
        <h4>More details for "Invites"</h4>
        <div class="row">
          <div class="col s12">
            <h5>Valid invites / Cheating</h5>
            <table class="highlight responsive-table">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>User count</th>
                  <th>Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Valid invites</td>
                  <td>0</td>
                  <td>0%</td>
                </tr>
                <tr>
                  <td>Cheating users</td>
                  <td>0</td>
                  <td>0%</td>
                </tr>
                <tr>
                  <td>Invites generated</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button class="btn waves-effect waves-light blue" onclick="history.back();"><i class="fa-solid fa-arrow-left"></i> Go back</button>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>